.input:focus {
}

.input {
}

.inputWrapper {
}

.superInput {
    width: 372px;
    height: 36px;
    border: 1px #D1D1D1 solid;
    border-radius: 5px;
}

.errorInput {
}

.errorInput:focus {
}

.error {
}
