.App {
    width: 1280px;
    margin: 0 auto;
    --header_height: 60px;
    background-color: white;
}

.hwTitle {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.hw {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

