.sendForm {
    display: flex;
    align-items: center;
    margin: 70px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.textarea {
    width: 976px;
    border-radius: 20px;
    height: 40px;
    padding: 13px;
    resize: none;
    overflow: hidden;
}

.button {
    height: 40px;
    width: 120px;
    left: 1090px;
    top: 408px;
    border-radius: 20px;
    border: none;
    background-color: #0066CC;
    color: #FFFFFF;
}

.button:hover {
    background-color: #00a1ff;
}

.button:active {
    background-color: #1d21ff;
}