.button {
    width: 132px;
    height: 30px;
    border-radius: 3px;
    border:none;
    font-family: "Montserrat", serif;
    font-weight: 600;
}

.disabled {
    color: #002E5C;
    background-color: #004D99;
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    background-color: #FFFFFF;
    width: 176px;
    height: 30px;
    border: 1px #0066CC solid;
}

.default {
    color: #FFFFFF;
    background-color: #0066CC;
}

.red {
    color: #FFFFFF;
    background-color: #CC1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
